.App {
  font-family: sans-serif;
  text-align: center;
}

.Form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
  height: 100vh;
  background-color: #dee3cb;
     background: repeating-linear-gradient(
      90deg,
      #e8d8b0,
      #e8d8b0 5px,
      #e2cfa3 5px,
      #e2cfa3 10px
  );
  padding-top: 40px;
}

.add-note {
  display: flex;
  flex-direction: column;
  background-color: #a3a4ae;
  align-items: center;
  padding: 20px;
  gap: 10px;
  border-radius: 8px;
  justify-content: center;
  margin: 0 auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.50);
}

#title-input {
  flex: 1;
  width: 100%;
  resize: none;
  outline: none;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.my-textarea {
  width: 100%;
  resize: none;
  border: 2px solid #ccc;
  border-radius: 5px;
  display: block;       
  align-self: stretch;
  min-height: 100px;
  overflow-y: hidden;
}

div > button {
  flex: 0 0 30px;
  width: 100%;
  justify-content: center;
  border-radius: 5px;
  font-weight: 600;
}

div > button:focus {
  border-color: dodgerblue;
}

.my-textarea:focus {
  border-color: dodgerblue;
  /* outline: none; */
}

.notes {
  display: flex;
  flex: 1;
  width: 100%;
  flex-wrap: wrap;
  overflow-y: auto;
  padding-top: 30px;
}
.my-note {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  background: #ffd500;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  z-index: 1;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 9.50);
}

.note-pin {
  top: -8px;
  right: 8px;
  cursor: pointer;
  
}

.note-pin img {
  width: 30px;   
  height: 30px;  
  object-fit: contain;
}


.note-date {
  font-size: 10px;
}

.note-content {
  font-size: 14px;
}

.note-title {
  font-weight: bold;
}

.note-top {
  display: flex;
  flex: 1;
}

.note-body {
  flex: 3;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-y: auto;
}
.note-top Select{
 flex:1;
}

.note-top select:disabled {
  appearance: none;
  border: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  pointer-events: none;
  color:black;
}

.note-delete {
  font-weight: bold;
  margin-left: auto;
  color:red;
  flex: 1;
}

.my-filter {
  display: flex;
}

#filter-input {
  font-size: 12px;
}

.horizontal-line {
  border: 1px dashed rgb(98, 91, 91);
  width: 100%;
}

#category {
  font-size: 14px;
  margin: 10px;
}
